.heading1-container {
  h1 {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 8.5rem;
    color: #ffffff;
    padding-bottom: 0rem;
    margin-bottom: 2.5rem;
    padding: 0rem;
    line-height: 0rem;
  }
}
