.subheading-container {
  p {
    font-family: 'Dancing Script', cursive;
    font-style: normal;
    font-weight: bold;
    font-size: 1.8rem;
    // line-height: 2rem;
    margin-top: 2.5rem;
    text-transform: capitalize;
    color: #ffffff;
  }
}
