.product-screen-container {
  background: #40916c;
  .product-screen-inerr {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;

    .product-screen-top {
      display: grid;
      grid-template-columns: 1.2fr 1fr;

      .praduct-screen-left-box {
        display: flex;
        flex-direction: column;
        .product-screen-back {
          margin-top: 3rem;
        }

        .zoom-container {
          margin-top: 2rem;
          img {
            border-radius: 2rem;
          }
        }

        .small-images-container {
          // display: flex;
          // flex-wrap: wrap;
          display: grid;
          grid-template-columns: repeat(auto-fit, 20rem);
          grid-column-gap: 25px;
          grid-row-gap: 25px;
          margin-top: 3rem;

          img {
            width: 19rem;
            height: 14rem;
            object-fit: cover;
            border-radius: 1rem;
          }
        }
      }

      .product-screen-right-box {
        padding-left: 4rem;
        h1 {
          font-family: Poppins;
          font-style: normal;
          font-weight: bold;
          font-size: 34px;
          line-height: 40px;
          color: #ffffff;
        }
      }
    }
  }
}
