.buttonlabel-container {
  .buttonlabel {
    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 36px;
    /* identical to box height */

    letter-spacing: 0.02em;
    text-transform: capitalize;

    color: #ffffff;
  }
}
